<form method="POST" action="mail.php" class="form form_data_">
	<div class="form__fieldset">
		<label class="form__label"></label>
		<input type="text" class="form__input" placeholder="">
	</div>
	<div class="form__fieldset">
		<label class="form__label"></label>
		<input type="tel" class="form__input" placeholder="">
	</div>
	<div class="form__fieldset">
		<label class="form__label"></label>
		<textarea rows="10" class="form__input form__input_textarea" placeholder=""></textarea>
	</div>
	<div class="form__fieldset">
		<button class="form__button"></button>
	</div>
</form>