.form{
	width: 100%;
}
.form__fieldset{
	margin: 20px 0;
}
.form__label{
	display: block;
}
.form__input{
	box-sizing: border-box;
	width: 100%;
	padding: 0px 10px;
	border: 0;
	background: transparent;
}
.form__input_textarea{
	height: auto;
	padding: 10px;
	resize: vertical;
}
.form__button{
	
}