<div class="select card__select">
	<div class="select__selected">RUB</div>
	<div class="select__list">
		<div class="select__item">RUB</div>
		<div class="select__item">Euro</div>
		<div class="select__item">Dollar</div>
	</div>
	<input type="hidden" name="select-currancy" class="select__input" value="RUB">
</div>