.grid{
	display: flex;
	justify-content: space-between;
}
.grid_justify_center{
	justify-content: center;
}
.grid_justify_around{
	justify-content: space-around;
}
.grid_align_center{
	align-items: center;
}
.grid_dir_column{
	flex-direction: column;
}