.g-errors{
	&__item{
		display: none;
		position: fixed;
		z-index: 10000;
		top: 0;
		right: 0;
		left: 0;
		box-sizing: border-box;
		background: #d63f3f;
		padding: 0 20px;
		text-align: center;
		font-family: arial;
		font-size: 18px;
		font-weight: 700;
		line-height: 30px;
		opacity: .8;
	}
	&__popup{
		bottom: 0;
		padding: 20% 0;
	}
	&__logo{
		outline: 0;
		border: 0;
		margin: 20px;
		opacity: .7;
		&:hover{
			opacity: 1;
		}
	}
}