<div class="input-numb">
	<div class="input-numb__change input-numb__less">-</div>
	<input type="text" class="input-numb__input" value="1">
	<div class="input-numb__change input-numb__more">+</div>
</div>