<a href="#popup/popupname">link on popup</a>
<div class="popup" data-popup="popupname">
	<div class="popup__content">
		<div class="popup__close"></div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, nihil, eum, culpa, error maxime quis quibusdam officiis ducimus tempore expedita ipsum aut doloribus fugiat quidem asperiores nam exercitationem nesciunt eius.</p>
	</div>
</div>